
.galery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax (200px, 1fr));
    gap: 10px;
    justify-content: center;
}

img {
    width: 30%;
    height: 5%;
    border-radius: 8px;
    transition: transform 0,2s;
}

img:hover {
    transform: scale(1.05);
}




h1 {
    color: #FF6392;
    text-align: center;
}
h2 {
    color: #FF6392;
    text-align: center;
}

body {
    background-color: #d5eeff;
    font-family: 'Monaco', monospace;
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

p {
    text-align: center;
    color: blue;
}
li {
    display: inline;
}
